:root {
  /** 主题颜色 */
  --vp-c-brand-1: #0096ff;
  --vp-c-brand-2: #4cb5ff;
  --vp-c-brand-3: #99d5ff;
  --vp-c-brand-soft: rgba(0, 150, 255, 0.155);

  /** 辅助颜色 */
  --vp-c-red-1: hsl(0, 100%, 70%);
  --vp-c-red-2: hsl(0, 100%, 80%);
  --vp-c-red-3: hsl(0, 100%, 90%);
  --vp-c-red-soft: rgba(255, 107, 107, 0.14);
  --vp-c-yellow-1: hsl(35, 100%, 50%);
  --vp-c-yellow-2: hsl(35, 100%, 60%);
  --vp-c-yellow-3: hsl(35, 100%, 70%);
  --vp-c-yellow-soft: rgba(255, 150, 0, 0.14);
  --vp-c-green-1: hsl(120, 63%, 63%);
  --vp-c-green-2: hsl(120, 63%, 73%);
  --vp-c-green-3: hsl(120, 63%, 83%);
  --vp-c-green-soft: rgba(100, 220, 100, 0.14);
  --vp-c-brand-1: hsl(205, 100%, 50%);
  --vp-c-brand-2: hsl(205, 100%, 60%);
  --vp-c-brand-3: hsl(205, 100%, 70%);
  --vp-c-brand-soft: rgba(0, 150, 255, 0.14);
  --vp-c-purple-1: hsl(259, 100%, 70%);
  --vp-c-purple-2: hsl(259, 100%, 80%);
  --vp-c-purple-3: hsl(259, 100%, 90%);
  --vp-c-purple-soft: rgba(150, 100, 255, 0.14);

 /** 背景颜色 */
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f8f9fa;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f8f9fa;

  /** 文本颜色 */
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
}

[data-theme="dark"] {
  /** 主题颜色 */
  --vp-c-brand-1: hsl(205, 100%, 50%);
  --vp-c-brand-2: hsl(205, 100%, 43%);
  --vp-c-brand-3: hsl(205, 100%, 36%);
  --vp-c-brand-soft: rgba(28, 126, 214, 0.155);

  /** 背景颜色 */
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;

  /** 文本颜色 */
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
}

/** 警告容器图标大小 */
.vp-doc .hint-container-title::before {
    width: 1.5em;
    height: 1.5em;
    margin-right: 8px;
}

/** 警告容器图标样式 */
.vp-doc .hint-container.note .hint-container-title::before {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIj48cGF0aCBkPSJtMTIuNTkzIDIzLjI1OGwtLjAxMS4wMDJsLS4wNzEuMDM1bC0uMDIuMDA0bC0uMDE0LS4wMDRsLS4wNzEtLjAzNXEtLjAxNi0uMDA1LS4wMjQuMDA1bC0uMDA0LjAxbC0uMDE3LjQyOGwuMDA1LjAybC4wMS4wMTNsLjEwNC4wNzRsLjAxNS4wMDRsLjAxMi0uMDA0bC4xMDQtLjA3NGwuMDEyLS4wMTZsLjAwNC0uMDE3bC0uMDE3LS40MjdxLS4wMDQtLjAxNi0uMDE3LS4wMThtLjI2NS0uMTEzbC0uMDEzLjAwMmwtLjE4NS4wOTNsLS4wMS4wMWwtLjAwMy4wMTFsLjAxOC40M2wuMDA1LjAxMmwuMDA4LjAwN2wuMjAxLjA5M3EuMDE5LjAwNS4wMjktLjAwOGwuMDA0LS4wMTRsLS4wMzQtLjYxNHEtLjAwNS0uMDE4LS4wMi0uMDIybS0uNzE1LjAwMmEuMDIuMDIgMCAwIDAtLjAyNy4wMDZsLS4wMDYuMDE0bC0uMDM0LjYxNHEuMDAxLjAxOC4wMTcuMDI0bC4wMTUtLjAwMmwuMjAxLS4wOTNsLjAxLS4wMDhsLjAwNC0uMDExbC4wMTctLjQzbC0uMDAzLS4wMTJsLS4wMS0uMDF6Ii8+PHBhdGggZmlsbD0iIzIyOGJlNiIgZD0iTTEyIDJjNS41MjMgMCAxMCA0LjQ3NyAxMCAxMHMtNC40NzcgMTAtMTAgMTBINGEyIDIgMCAwIDEtMi0ydi04QzIgNi40NzcgNi40NzcgMiAxMiAybTAgMTJIOWExIDEgMCAxIDAgMCAyaDNhMSAxIDAgMSAwIDAtMm0zLTRIOWExIDEgMCAwIDAtLjExNyAxLjk5M0w5IDEyaDZhMSAxIDAgMCAwIC4xMTctMS45OTN6Ii8+PC9nPjwvc3ZnPg==");
}

.vp-doc .hint-container.info .hint-container-title::before {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMjI4YmU2IiBkPSJNMTIgMmM1LjUyMyAwIDEwIDQuNDc3IDEwIDEwYTEwIDEwIDAgMCAxLTE5Ljk5NS4zMjRMMiAxMmwuMDA0LS4yOEMyLjE1MiA2LjMyNyA2LjU3IDIgMTIgMm0wIDloLTFsLS4xMTcuMDA3YTEgMSAwIDAgMCAwIDEuOTg2TDExIDEzdjNsLjAwNy4xMTdhMSAxIDAgMCAwIC44NzYuODc2TDEyIDE3aDFsLjExNy0uMDA3YTEgMSAwIDAgMCAuODc2LS44NzZMMTQgMTZsLS4wMDctLjExN2ExIDEgMCAwIDAtLjc2NC0uODU3bC0uMTEyLS4wMkwxMyAxNXYtM2wtLjAwNy0uMTE3YTEgMSAwIDAgMC0uODc2LS44NzZ6bS4wMS0zbC0uMTI3LjAwN2ExIDEgMCAwIDAgMCAxLjk4NkwxMiAxMGwuMTI3LS4wMDdhMSAxIDAgMCAwIDAtMS45ODZ6Ii8+PC9zdmc+");
}

.vp-doc .hint-container.tip .hint-container-title::before {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIj48cGF0aCBkPSJtMTIuNTkzIDIzLjI1OGwtLjAxMS4wMDJsLS4wNzEuMDM1bC0uMDIuMDA0bC0uMDE0LS4wMDRsLS4wNzEtLjAzNXEtLjAxNi0uMDA1LS4wMjQuMDA1bC0uMDA0LjAxbC0uMDE3LjQyOGwuMDA1LjAybC4wMS4wMTNsLjEwNC4wNzRsLjAxNS4wMDRsLjAxMi0uMDA0bC4xMDQtLjA3NGwuMDEyLS4wMTZsLjAwNC0uMDE3bC0uMDE3LS40MjdxLS4wMDQtLjAxNi0uMDE3LS4wMThtLjI2NS0uMTEzbC0uMDEzLjAwMmwtLjE4NS4wOTNsLS4wMS4wMWwtLjAwMy4wMTFsLjAxOC40M2wuMDA1LjAxMmwuMDA4LjAwN2wuMjAxLjA5M3EuMDE5LjAwNS4wMjktLjAwOGwuMDA0LS4wMTRsLS4wMzQtLjYxNHEtLjAwNS0uMDE4LS4wMi0uMDIybS0uNzE1LjAwMmEuMDIuMDIgMCAwIDAtLjAyNy4wMDZsLS4wMDYuMDE0bC0uMDM0LjYxNHEuMDAxLjAxOC4wMTcuMDI0bC4wMTUtLjAwMmwuMjAxLS4wOTNsLjAxLS4wMDhsLjAwNC0uMDExbC4wMTctLjQzbC0uMDAzLS4wMTJsLS4wMS0uMDF6Ii8+PHBhdGggZmlsbD0iIzIyOGJlNiIgZD0iTTEzIDIwYTEgMSAwIDAgMSAuMTE3IDEuOTkzTDEzIDIyaC0yYTEgMSAwIDAgMS0uMTE3LTEuOTkzTDExIDIwek0xMiAyYzQuNDEgMCA4IDMuNTQzIDggNy45MzNjMCAzLjAwNi0xLjUyMiA1LjE5Ni0yLjc4IDYuNDk0bC0uMjg0LjI4M2wtLjI3LjI1MmwtLjI1Mi4yMmwtLjMzLjI3bC0uMzI4LjI0NGMtLjI0MS4xNy0uNDAzLjQxOS0uNTUuNjc4bC0uMjA1LjM2NGMtLjIzOC40MS0uNTE3Ljc2Mi0xLjEwOC43NjJoLTMuNzg2Yy0uNTkgMC0uODctLjM1MS0xLjEwOC0uNzYybC0uMTE4LS4yMDhjLS4xNzItLjMxMi0uMzQ4LS42My0uNjM3LS44MzRsLS4yMzItLjE3MWwtLjE5OS0uMTU1bC0uMjI3LS4xODhsLS4yNTItLjIybC0uMjctLjI1MmwtLjI4NS0uMjgzQzUuNTIyIDE1LjEyOSA0IDEyLjkzOSA0IDkuOTMzQzQgNS41NDMgNy41OSAyIDEyIDJtMS43MDcgNC4yOTNhMSAxIDAgMCAwLTEuMzItLjA4M2wtLjA5NC4wODNMMTAuMyA4LjI4NmExLjAxIDEuMDEgMCAwIDAtLjA4NCAxLjMzM2wuMDg0LjA5NUwxMS41ODYgMTFsLTEuMjkzIDEuMjkzYTEgMSAwIDAgMCAxLjMyIDEuNDk3bC4wOTQtLjA4M2wxLjk5My0xLjk5M2ExLjAxIDEuMDEgMCAwIDAgLjA4NC0xLjMzM2wtLjA4NC0uMDk1TDEyLjQxNCA5bDEuMjkzLTEuMjkzYTEgMSAwIDAgMCAwLTEuNDE0Ii8+PC9nPjwvc3ZnPg==")
}

.vp-doc .hint-container.important .hint-container-title::before {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIj48cGF0aCBkPSJtMTIuNTk0IDIzLjI1OGwtLjAxMi4wMDJsLS4wNzEuMDM1bC0uMDIuMDA0bC0uMDE0LS4wMDRsLS4wNzEtLjAzNnEtLjAxNi0uMDA0LS4wMjQuMDA2bC0uMDA0LjAxbC0uMDE3LjQyOGwuMDA1LjAybC4wMS4wMTNsLjEwNC4wNzRsLjAxNS4wMDRsLjAxMi0uMDA0bC4xMDQtLjA3NGwuMDEyLS4wMTZsLjAwNC0uMDE3bC0uMDE3LS40MjdxLS4wMDQtLjAxNi0uMDE2LS4wMThtLjI2NC0uMTEzbC0uMDE0LjAwMmwtLjE4NC4wOTNsLS4wMS4wMWwtLjAwMy4wMTFsLjAxOC40M2wuMDA1LjAxMmwuMDA4LjAwOGwuMjAxLjA5MnEuMDE5LjAwNS4wMjktLjAwOGwuMDA0LS4wMTRsLS4wMzQtLjYxNHEtLjAwNS0uMDE5LS4wMi0uMDIybS0uNzE1LjAwMmEuMDIuMDIgMCAwIDAtLjAyNy4wMDZsLS4wMDYuMDE0bC0uMDM0LjYxNHEuMDAxLjAxOC4wMTcuMDI0bC4wMTUtLjAwMmwuMjAxLS4wOTNsLjAxLS4wMDhsLjAwMy0uMDExbC4wMTgtLjQzbC0uMDAzLS4wMTJsLS4wMS0uMDF6Ii8+PHBhdGggZmlsbD0iI2FlM2VjOSIgZD0iTTEyIDJhNyA3IDAgMCAxIDIuMjYzLjM3NGE0LjUgNC41IDAgMCAwIDQuNSA3LjQ0N0wxOSA5Ljc0M3YyLjc4NGExIDEgMCAwIDAgLjA2LjM0bC4wNDYuMTA3bDEuNzE2IDMuNDMzYTEuMSAxLjEgMCAwIDEtLjg2OSAxLjU4NmwtLjExNS4wMDZINC4xNjJhMS4xIDEuMSAwIDAgMS0xLjAzLTEuNDg3bC4wNDYtLjEwNWwxLjcxNy0zLjQzM2ExIDEgMCAwIDAgLjA5OC0uMzMxTDUgMTIuNTI4VjlhNyA3IDAgMCAxIDctN201LjUgMWEyLjUgMi41IDAgMSAxIDAgNWEyLjUgMi41IDAgMCAxIDAtNU0xMiAyMWEzIDMgMCAwIDEtMi44My0yaDUuNjZBMyAzIDAgMCAxIDEyIDIxIi8+PC9nPjwvc3ZnPg==")
}

.vp-doc .hint-container.warning .hint-container-title::before {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIj48cGF0aCBkPSJtMTIuNTkzIDIzLjI1OGwtLjAxMS4wMDJsLS4wNzEuMDM1bC0uMDIuMDA0bC0uMDE0LS4wMDRsLS4wNzEtLjAzNXEtLjAxNi0uMDA1LS4wMjQuMDA1bC0uMDA0LjAxbC0uMDE3LjQyOGwuMDA1LjAybC4wMS4wMTNsLjEwNC4wNzRsLjAxNS4wMDRsLjAxMi0uMDA0bC4xMDQtLjA3NGwuMDEyLS4wMTZsLjAwNC0uMDE3bC0uMDE3LS40MjdxLS4wMDQtLjAxNi0uMDE3LS4wMThtLjI2NS0uMTEzbC0uMDEzLjAwMmwtLjE4NS4wOTNsLS4wMS4wMWwtLjAwMy4wMTFsLjAxOC40M2wuMDA1LjAxMmwuMDA4LjAwN2wuMjAxLjA5M3EuMDE5LjAwNS4wMjktLjAwOGwuMDA0LS4wMTRsLS4wMzQtLjYxNHEtLjAwNS0uMDE4LS4wMi0uMDIybS0uNzE1LjAwMmEuMDIuMDIgMCAwIDAtLjAyNy4wMDZsLS4wMDYuMDE0bC0uMDM0LjYxNHEuMDAxLjAxOC4wMTcuMDI0bC4wMTUtLjAwMmwuMjAxLS4wOTNsLjAxLS4wMDhsLjAwNC0uMDExbC4wMTctLjQzbC0uMDAzLS4wMTJsLS4wMS0uMDF6Ii8+PHBhdGggZmlsbD0iI2Y1OWYwMCIgZD0ibTEzLjI5OSAzLjE0OGw4LjYzNCAxNC45NTRhMS41IDEuNSAwIDAgMS0xLjI5OSAyLjI1SDMuMzY2YTEuNSAxLjUgMCAwIDEtMS4yOTktMi4yNWw4LjYzNC0xNC45NTRjLjU3Ny0xIDIuMDItMSAyLjU5OCAwTTEyIDE1YTEgMSAwIDEgMCAwIDJhMSAxIDAgMCAwIDAtMm0wLTdhMSAxIDAgMCAwLS45OTMuODgzTDExIDl2NGExIDEgMCAwIDAgMS45OTMuMTE3TDEzIDEzVjlhMSAxIDAgMCAwLTEtMSIvPjwvZz48L3N2Zz4=")
}

.vp-doc .hint-container.caution .hint-container-title::before {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIj48cGF0aCBkPSJtMTIuNTkzIDIzLjI1OGwtLjAxMS4wMDJsLS4wNzEuMDM1bC0uMDIuMDA0bC0uMDE0LS4wMDRsLS4wNzEtLjAzNXEtLjAxNi0uMDA1LS4wMjQuMDA1bC0uMDA0LjAxbC0uMDE3LjQyOGwuMDA1LjAybC4wMS4wMTNsLjEwNC4wNzRsLjAxNS4wMDRsLjAxMi0uMDA0bC4xMDQtLjA3NGwuMDEyLS4wMTZsLjAwNC0uMDE3bC0uMDE3LS40MjdxLS4wMDQtLjAxNi0uMDE3LS4wMThtLjI2NS0uMTEzbC0uMDEzLjAwMmwtLjE4NS4wOTNsLS4wMS4wMWwtLjAwMy4wMTFsLjAxOC40M2wuMDA1LjAxMmwuMDA4LjAwN2wuMjAxLjA5M3EuMDE5LjAwNS4wMjktLjAwOGwuMDA0LS4wMTRsLS4wMzQtLjYxNHEtLjAwNS0uMDE4LS4wMi0uMDIybS0uNzE1LjAwMmEuMDIuMDIgMCAwIDAtLjAyNy4wMDZsLS4wMDYuMDE0bC0uMDM0LjYxNHEuMDAxLjAxOC4wMTcuMDI0bC4wMTUtLjAwMmwuMjAxLS4wOTNsLjAxLS4wMDhsLjAwNC0uMDExbC4wMTctLjQzbC0uMDAzLS4wMTJsLS4wMS0uMDF6Ii8+PHBhdGggZmlsbD0iI2YwM2UzZSIgZD0iTTEyIDJjNS41MjMgMCAxMCA0LjQ3NyAxMCAxMHMtNC40NzcgMTAtMTAgMTBTMiAxNy41MjMgMiAxMlM2LjQ3NyAyIDEyIDJNOS44NzkgOC40NjRhMSAxIDAgMCAwLTEuNDk4IDEuMzJsLjA4NC4wOTVsMi4xMiAyLjEybC0yLjEyIDIuMTIyYTEgMSAwIDAgMCAxLjMyIDEuNDk4bC4wOTQtLjA4M0wxMiAxMy40MTRsMi4xMjEgMi4xMjJhMSAxIDAgMCAwIDEuNDk4LTEuMzJsLS4wODMtLjA5NUwxMy40MTQgMTJsMi4xMjItMi4xMjFhMSAxIDAgMCAwLTEuMzItMS40OThsLS4wOTUuMDgzTDEyIDEwLjU4NnoiLz48L2c+PC9zdmc+")
}

.vpi-social-afdian {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im0xMi41OTMgMjMuMjU4bC0uMDExLjAwMmwtLjA3MS4wMzVsLS4wMi4wMDRsLS4wMTQtLjAwNGwtLjA3MS0uMDM1cS0uMDE2LS4wMDUtLjAyNC4wMDVsLS4wMDQuMDFsLS4wMTcuNDI4bC4wMDUuMDJsLjAxLjAxM2wuMTA0LjA3NGwuMDE1LjAwNGwuMDEyLS4wMDRsLjEwNC0uMDc0bC4wMTItLjAxNmwuMDA0LS4wMTdsLS4wMTctLjQyN3EtLjAwNC0uMDE2LS4wMTctLjAxOG0uMjY1LS4xMTNsLS4wMTMuMDAybC0uMTg1LjA5M2wtLjAxLjAxbC0uMDAzLjAxMWwuMDE4LjQzbC4wMDUuMDEybC4wMDguMDA3bC4yMDEuMDkzcS4wMTkuMDA1LjAyOS0uMDA4bC4wMDQtLjAxNGwtLjAzNC0uNjE0cS0uMDA1LS4wMTgtLjAyLS4wMjJtLS43MTUuMDAyYS4wMi4wMiAwIDAgMC0uMDI3LjAwNmwtLjAwNi4wMTRsLS4wMzQuNjE0cS4wMDEuMDE4LjAxNy4wMjRsLjAxNS0uMDAybC4yMDEtLjA5M2wuMDEtLjAwOGwuMDA0LS4wMTFsLjAxNy0uNDNsLS4wMDMtLjAxMmwtLjAxLS4wMXoiLz48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik04LjA4NCAyLjZjLjE2Mi0uMzY1LjUyMy0uNi45MjMtLjZoNy45NzdjLjc1IDAgMS4yMzkuNzkuOTAzIDEuNDYyTDE1LjYxOCA4aDMuMzU4Yy45IDAgMS4zNSAxLjA4OC43MTQgMS43MjRMNy43MzcgMjEuNjc3Yy0uNzU0Ljc1NC0yLjAxLS4wMjItMS42NzItMS4wMzNMOC42MTMgMTNINS4wMTVhMS4wMSAxLjAxIDAgMCAxLS45MjMtMS40MnoiLz48L2c+PC9zdmc+");
}
