name: AFD_Webhook

permissions:
  contents: write

# 定义触发器
on:
  # UTC 时间 每周五 5 点
  schedule:
    - cron: '0 5 * * 5'
  # 手动按钮
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          persist-credentials: true

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      # Install dependencies
      - name: 安装依赖
        run: pnpm install --frozen-lockfile

      # Update AFD data
      - name: 更新 AFD 数据
        run: pnpm run fetch-afd
        env:
          AFD_USER_ID: ${{ secrets.AFD_USER_ID }}
          AFD_TOKEN: ${{ secrets.AFD_TOKEN }}

      # Ensure the directory exists
      - name: 确保目录存在
        run: mkdir -p docs/.vuepress/public/data

      # Commit afd-sponsors.json back to the repository
      - name: 将 afd-sponsors.json 提交回仓库
        uses: EndBug/add-and-commit@v9
        with:
          add: 'docs/.vuepress/public/data/afd-sponsors.json'
          message: 'Update AFD data'
        env:
          GITHUB_TOKEN: ${{ secrets.YOUMING_TOKEN }}
